# Telegram Bot Configuration
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Admin Telegram User IDs (vergul bilan ajratilgan)
ADMIN_IDS=YOUR_TELEGRAM_USER_ID

# Xabarlar keshi saqlanish muddati (kunlar)
CACHE_RETENTION_DAYS=7
