# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secrets
.env

# Database
*.db
*.sqlite
*.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS & IDE Files
.DS_Store
.vscode/
.idea/
